{% extends 'base.html' %}



{% block content %}



<div class="categorias">
    <div class="container text-center pt-5">
        <div class="row">
          {% for categoria in categorias %}
          <div class="col">
            <div class="card-categoria">
              <div class="img">
              {% if categoria.image %}
                <img src="{{ categoria.image.url }}" class="image-fluid card-top" height="50" width="50"  >
              {% endif %}
            </div>
                <p class="nome-categoria"> {{ categoria.name }} </p>  
            </div>
          </div> 
          {% endfor %}
      </div>
</div>
</div>



  <div class="servicos">
    <div class="container text-center">
      <div class="row">
        {% for servico in servicos %}  
          <div class="col-sm-6 col-md-4 col-lg-3 pt-3"> 
            <div class="card border-red h-100 shadow-sm"> 
              <div class="card-body">
                <div class="img">
                  {% if servico.image %}
                    <img src="{{ servico.image.url }}" class="img-fluid card-top" height="150" width="200">
                  {% endif %}
                </div>
                <p class="card-title fw-bold fs-2">{{ servico.title }}</p>
                <p class="card-text">{{ servico.professional }}</p>
              </div> 
  
              <div class="card-footer text-center"> 
                <button type="button" class="btn btn-sm btn-outline-secondary"> Contratar Serviço </button>
              </div>
  
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
 
    


<div class="servicos pt-5">
  <div class="container text-center">
    <div class="row">
      {% for servico in servico %}
      <div class="col-6 col-sm-3  pt-3 border">
        <div class="card-servico">
          <div class="img">
          {% if servico.image %}
            <img src=" {{ servico.image.url }} " class="image-fluid card-top" height="150" width="200">
          {% endif %}
        </div>
          <p> {{ servico.title }} </p>
          <p> {{ servico.professional }} </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}